.forgot-password-pane {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    width: 600px;
    height: 355px;
    margin-left: 455px;
    margin-top: 200px;
    box-shadow: 1px -1px 15px 5px #505050;
}

.forgot-password-header {
    height: 42px;
    width: 100%;
    color: #FFFFFF;
    background-color: #505050;
    text-indent : 10px;
    border-radius: 5px;
    padding-top: 12px;
}

.forgot-password-body {
    border: ppx solid red;
    height: 200px;
    width: 480px;
    margin-left: 60px;
}

.forgot-password-message-pane {
    border: 0px solid red;
    width: 959px;
    margin-left: 265px;
    height: 500px;
    margin-top: 100px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #505050;
    box-shadow: 1px -1px 15px 5px #505050;
}

.forgot-password-message{
    width: 840px;
    margin-left: 66px;
}

.back-to-login{
    text-align: right;
}