.login-pane {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    width: 600px;
    height: 533px;
    margin-left: 450px;
    margin-top: 200px;
    box-shadow: 1px -1px 15px 5px #505050;
}

.login-header {
    height: 45px;
    width: 100%;
    color: #FFFFFF;
    background-color: #505050;
    text-indent : 10px;
    border-radius: 5px;
    padding-top: 12px;
}

.login-body {
    border: ppx solid red;
    height: 200px;
    width: 480px;
    margin-left: 60px;
}

.login-error-message{
    height: 60px;
    color: red;
    font-size: 16px;
    text-align: center;
}