.user-role-sub-section{
    height: 50px;
    width: 60%;
    background-color: #FFFFFF;
    border-bottom: 2px solid #505050;
    font-size: 35px;
    text-indent: 10px;
    color: #505050;
    margin-left: 314px;
}

.user-role-create {
   border: 0px solid red;
   border-radius: 5px;
   height: 235px;
   width: 570px;
   margin-left: 480px;
   box-shadow: 1px -1px 15px 5px #505050;
}

.user-role-listing{
    border: 0px solid red;
    width: 878px;
    margin-left: 326px;
    box-shadow: 1px -1px 15px 5px #505050;
    border-radius: 5px;
    height: 900px;
}

.user-role-listing-pane{
    border: 0px solid red;
    height: 830px;
    border-radius: 5px;
    overflow-y: auto;
}

.user-role-list-td-left {
    border: 2px solid #505050;
    width: 580px;
    text-indent: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.user-role-list-td-left-header {
    background: #505050;
    color: #fff;
}

.user-role-list-td-right {
    border: 2px solid #505050;
    width: 284px;
    text-align:center;
    border-radius: 5px;
    font-size: 16px;
}

.user-role-list-td-right-header {
    background: #505050;
    color: #fff;
    text-align:center;
}

.user-role-list-td-mid-1 {
    border: 2px solid #505050;
    width: 50px;
    text-align:center;
    border-radius: 5px;
    font-size: 16px;
}

.user-role-list-td-mid-1-header{
    background: #505050;
    color: #fff;
    text-align:center;
}

.access-checkbox {
    font-size: 18px;
    color: #505050;
}
