<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shoppe : Admin Creation</title>
    <link rel="stylesheet" th:href="@{/css/base/main.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="banner">
        <image src="/images/logo.png"/>
    </div>
    <div class="content-pane">
        <form action="/admin/create" method="POST">
            <div class="top-space-50-pixel section">Admin Creation</div>
            <div class="top-space-50-pixel error-message-box" th:text="${errorMessage}" id="errorMessage"></div>
            <div class="top-space-50-pixel sub-section">Personal Information <span style="font-size:16px;">(fields marked with (*) are mandatory)</span></div>
            <div class="top-space-50-pixel admin-personal-info">
                <table>
                    <tr>
                        <td class="td-height-60">
                            <input id="firstName" class="input-box-normal" type="text" name="firstName" placeholder="First Name" th:value="${admin != null} ? ${admin.firstName} : ''"/>
                            <span class="required-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-height-60"><input id="middleInitial" class="input-box-normal" type="text" name="middleInitial" placeholder="Middle Initial" th:value="${admin != null} ? ${admin.middleInitial} : ''"/></td>
                    </tr>
                    <tr>
                        <td class="td-height-60"><input id="lastName" class="input-box-normal" type="text" name="lastName" placeholder="Last Name" th:value="${admin != null} ? ${admin.lastName} : ''"/></td>
                    </tr>
                    <tr>
                        <td class="td-height-60">
                            <input id="emailId"  class="input-box-normal"type="text" name="emailId" placeholder="Email Id" th:value="${admin != null} ? ${admin.emailId} : ''"/>
                            <span class="required-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-height-60"><input id="uniqueId" class="input-box-normal" type="text" name="uniqueId" placeholder="Unique Id" th:value="${admin != null} ? ${admin.uniqueId} : ''"/></td>
                    </tr>
                    <tr>
                        <td class="td-height-60">
                            <input id="mobileNo" class="input-box-normal" type="text" name="mobileNo" placeholder="Mobile Number" th:value="${admin != null} ? ${admin.mobileNo} : ''"/>
                            <span class="required-field">*</span>
                        </td>
                    </tr>
                    <!--<tr>
                        <td class="td-height-60">
                            <input id="photo" class="input-box-normal" type="file" name="photo" placeholder="Photo"/>
                        </td>
                    </tr>-->
                </table>
            </div>
            <div class="sub-section">Permanent Address</div>
            <div class="top-space-50-pixel admin-address-info">
                <table>
                    <tr>
                        <td class="td-height-60"><input id="addressLine1" class="input-box-normal" type="text" name="addressLine1" placeholder="Address Line 1" th:value="${admin != null} ? ${admin.addressLine1} : ''"/></td>
                    </tr>
                    <tr>
                        <td class="td-height-60"><input id="addressLine2" class="input-box-normal" type="text" name="addressLine2" placeholder="Address Line 2" th:value="${admin != null} ? ${admin.addressLine2} : ''"/></td>
                    </tr>
                    <tr>
                        <td class="td-height-60"><input id="addressLine3" class="input-box-normal" type="text" name="addressLine3" placeholder="Address Line 3" th:value="${admin != null} ? ${admin.addressLine3} : ''"/></td>
                    </tr>
                    <tr>
                        <td class="td-height-60"><input id="city"  class="input-box-normal"type="text" name="city" placeholder="City" th:value="${admin != null} ? ${admin.city} : ''"/></td>
                    </tr>
                    <tr>
                        <td class="td-height-60"><input id="state" class="input-box-normal" type="text" name="state" placeholder="State" th:value="${admin != null} ? ${admin.state} : ''"/></td>
                    </tr>
                    <tr>
                        <td  class="td-height-60"><input id="country" class="input-box-normal" type="text" name="country" placeholder="Country" th:value="${admin != null} ? ${admin.country} : ''"/></td>
                    </tr>
                    <tr>
                        <td  class="td-height-60"><input id="zipCode" class="input-box-normal" type="text" name="zipCode" placeholder="ZipCode" th:value="${admin != null} ? ${admin.zipCode} : ''"/></td>
                    </tr>
                </table>
            </div>
            <div class="top-space-50-pixel admin-registration-commands">
                <table>
                    <tr>
                        <td colspan="2" class="td-height-60">
                            <input class="button-normal" id="create" type="submit" value="Create"/>
                            <input class="button-reset" type="reset" value="Cancel"/>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <div class="footer">
        Copyright &copy; 2021 MNR Chinnasamy Softlabs.
    </div>
</div>
</body>
</html>