<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shoppe : Admin Information</title>
    <link rel="stylesheet" th:href="@{/css/base/main.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="banner">
        Shoppe : Admin Module
    </div>
    <div class="menu-bar">
        <div class="menu-item">Home</div>
        <div class="menu-item">Item Registration</div>
        <div class="menu-item">Admin Creation</div>
        <div class="menu-item">Logout</div>
    </div>
    <div class="content-pane">
        <div class="top-space-100-pixel section">Admin Information</div>
        <div class="admin-info-pane">
            <table>
                <tr>
                    <td colspan="2" class="admin-info-header">Personal Information...</td>
                </tr>
                <tr>
                    <td class="admin-info-td">First Name</td><td class="admin-info-td" th:text="${admin.firstName}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Middle Initial</td><td class="admin-info-td" th:text="${admin.middleInitial}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Last Name</td><td class="admin-info-td" th:text="${admin.lastName}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Email Id</td><td class="admin-info-td" th:text="${admin.emailId}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Mobile Number</td><td class="admin-info-td" th:text="${admin.mobileNo}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Unique Id</td><td class="admin-info-td" th:text="${admin.uniqueId}"></td>
                </tr>
                <tr>
                    <td colspan="2" class="admin-info-header">Address Information...</td>
                </tr>
                <tr>
                    <td class="admin-info-td">Address Line 1</td><td class="admin-info-td" th:text="${admin.addressLine1}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Address Line 2</td><td class="admin-info-td" th:text="${admin.addressLine2}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Address Line 3</td><td class="admin-info-td" th:text="${admin.addressLine3}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">City</td><td class="admin-info-td" th:text="${admin.city}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">State</td><td class="admin-info-td" th:text="${admin.state}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Zip Code</td><td class="admin-info-td" th:text="${admin.zipCode}"></td>
                </tr>
                <tr>
                    <td colspan="2" class="admin-info-td"></td>
                </tr>
                <tr>
                    <td colspan="2" class="admin-info-td">
                        <a class="admin-info-anchor" href="/admin/listing">Admin Listing</a>
                        <a class="admin-info-anchor" href="#" onclick="javascript:alert('Are you sure want to block this admin?');">Block this Admin</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="footer">
        Copyright &copy; 2021 MNR Chinnasamy Softlabs.
    </div>
</div>
</body>
</html>