<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shoppe : Registration Successful</title>
    </head>
    <body>
        <P>
            Hi &lt;First Name&gt; &lt;Middle Initial&gt; &lt;Last Name&gt;,<br/><br/>

            Thanks on behalf of the Team Shoppe for registering yourself and want to be a part of our family...<br/>
            Your are half way through in the process, the other half would be completed by verifying yourself through
            the self verification link send to your mail box.<br/>
            <br/>
            The link would be valid for 24 hours please make sure you do verify yourself within the given time period.
            <br/>
            <br/>
            Thanks,<br/>
            Team Shoppe.
        </P>
    </body>
</html>