.idea
.gradle
.mvn

mnr-chinnasamy.iml
mnr-chinnasamy.ipr
mnr-chinnasamy.iws

mnr-chinnasamy-core/mnr-chinnasamy-core.iml
mnr-chinnasamy-core/target

mnr-chinnasamy-embedded-sso-keycloak-server/mnr-chinnasamy-embedded-sso-keycloak-server.iml
mnr-chinnasamy-embedded-sso-keycloak-server/target

mnr-chinnasamy-administration-webapp/mnr-chinnasamy-administration-webapp.iml
mnr-chinnasamy-administration-webapp/mnr-chinnasamy-administration-webapp.ipr
mnr-chinnasamy-administration-webapp/mnr-chinnasamy-administration-webapp.iws

mnr-chinnasamy-administration-webapp/target
mnr-chinnasamy-administration-webapp/src/main/resources/liquibase/shoppe-master-output-changelog.xml

mnr-chinnasamy-forex-and-commodity/target

bhairava-siddhar-temple-webapp/bhairava-siddhar-temple-webapp.iml
bhairava-siddhar-temple-webapp/target

bhairava-siddhar-trust-webapp/bhairava-siddhar-trust-webapp.iml
bhairava-siddhar-trust-webapp/target

