.employee-listing-pane {
    height: 895px;
    width: 1120px;
    /*box-shadow: 1px -1px 15px 5px #505050;*/
    margin-left: 184px;
    margin-top: 50px;
    border-radius: 5px;
}

.employee-listing-name-td {
    border: 1px solid #505050;
    height: 50px;
    width: 749px;
    border-radius:5px;
    text-indent: 5px;
}

.employee-listing-anchor-td {
    border: 2px solid #505050;
    height: 50px;
    width: 115px;
    border-radius: 5px;
    text-indent: 5px;
    color: #505050;
    background-color: #FFF;
}

.employee-listing-preview-div {
    border: 0px solid #505050;
    box-shadow: 0px 0px 5px 2px #505050;
    width: 250px;
    height: 325px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 50px;
    margin-right: 15px;
}

.employee-listing-preview-image-div {
    border: 0px solid #505050;
    height: 185px;
    width: 230px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.employee-listing-preview-name-div {
    border: 0px solid #505050;
    height: 55px;
    width: 230px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.employee-listing-preview-controls-div {
    border: 0px solid #505050;
    height: 40px;
    width: 230px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    text-align:center;
}

.employee-listing-preview-image {
    width: 230px;
    height: 184px;
    border-radius: 5px;
    margin-top: 2px;
}

.employee-listing-preview-control-image {
    width: 44px;
    height: 40px;
    border: 0px solid #505050;
    border-radius: 0px;
    margin-left: 15px;
}