@import "admin.css";
@import "login.css";
@import "user-signup.css";
@import "admin-info.css";
@import "admin-listing.css";

body{
    background-color: #505050;
}

.wrapper {
    background-color: #FFFFFF;
    border: 3px solid #505050;
    border-radius: 5px;
    width: 1500px;
    margin: auto;
    min-height:2000px;
    height:auto;
    box-shadow: 0px -4px 15px 5px #FFFFFF;
}

.banner {
    height: 225px;
    width: 100%;
    background-color: #505050;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

.menu-bar {
    border: 0px solid #505050;
    height: 50px;
}

.content-pane {
    border: 0px solid red;
    height: 1670px;
    width: 100%;
}

.footer {
    background-color: #505050;
    color: #FFFFFF;
    border: 0px solid red;
    width: 100%;
    font-weight: bold;
    text-indent: 10px;
    height: 51px;
    font-size: 14px;
}

.menu-item {
    border: 2px solid #FFF;
    height: 50px;
    float: left;
    width: 371px;
    background-color: #505050;
    color: #FFF;
}

.top-space-50-pixel{
    margin-top: 50px;
}

.top-space-100-pixel{
    margin-top: 100px;
}

.section {
    height: 50px;
    width: 75%;
    background-color: #FFFFFF;
    border-bottom: 2px solid #505050;
    font-size: 35px;
    text-indent : 10px;
    color: #505050;
    margin-left: 185px;
}

.sub-section {
    height: 50px;
    width: 60%;
    background-color: #FFFFFF;
    border-bottom: 2px solid #505050;
    font-size: 35px;
    text-indent: 10px;
    color: #505050;
    margin-left: 408px;
}

.input-box-normal {
    border:1px solid #505050;
    font-size: 18px;
    height: 45px;
    width: 450px;
    border-radius: 10px;
    text-indent: 15px;
}

.button-normal {
    background-color : #505050;
    border-radius: 10px;
    color: #FFFFFF;
    height: 50px;
    width: 225px;
    border:1px solid #505050;

}

.td-height-60 {
    height: 60px;
}

.required-field {
    color: red;
}

.center-text{
    text-align:center;
}

a {
    text-decoration:none;
    color:#505050;
}

.error-message-box {
    height: 50px;
    width: 500px;
    border: 0px solid red;
    margin-left: 450px;
    font-size: 25px;
    color: red;
}


