body{
    background-color: #505050;
}

.wrapper {
    background-color: #FFFFFF;
    border: 3px solid #505050;
    border-radius: 5px;
    width: 1500px;
    margin: auto;
    min-height:2000px;
    height:auto;
    box-shadow: 0px -4px 15px 5px #FFFFFF;
}

.banner {
    height: 225px;
    width: 100%;
    background-color: #505050;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

.menu-bar {
    border: 0px solid #505050;
    height: 50px;
}

.content-pane {
    border: 0px solid red;
    height: 1670px;
    width: 100%;
}

.footer {
    background-color: #505050;
    color: #FFFFFF;
    border: 0px solid red;
    width: 100%;
    font-weight: bold;
    text-indent: 10px;
    height: 51px;
    font-size: 14px;
}

.menu-item {
    border: 2px solid #FFF;
    height: 50px;
    float: left;
    width: 371px;
    background-color: #505050;
    color: #FFF;
}

.top-space{
    margin-top: 50px;
}

.section {
    height: 50px;
    width: 75%;
    background-color: #FFFFFF;
    border-bottom: 2px solid #505050;
    font-size: 35px;
    text-indent : 10px;
    color: #505050;
    margin-left: 185px;
}

.sub-section {
    height: 50px;
    width: 60%;
    background-color: #FFFFFF;
    border-bottom: 2px solid #505050;
    font-size: 35px;
    text-indent: 10px;
    color: #505050;
    margin-left: 408px;
}

.input-box-normal {
    border:1px solid #505050;
    font-size: 18px;
    height: 45px;
    width: 450px;
    border-radius: 10px;
    text-indent: 15px;
}

.button-normal {
    background-color : #505050;
    border-radius: 10px;
    color: #FFFFFF;
    height: 50px;
    width: 225px;
    border:1px solid #505050;

}

.td-height-60 {
    height: 60px;
}

.admin-personal-info {
   border: 0px solid red;
   height: 515px;
   width: 490px;
   margin-left: 450px;
}

.admin-address-info {
    border: 0px solid red;
    height: 452px;
    width: 463px;
    margin-left: 450px;
}

.admin-registration-commands {
    border: 0px solid red;
    height: 67px;
    width: 463px;
    margin-left: 450px;
}

.required-field {
    color: red;
}

.login-pane {
    border: 2px solid #505050;
    border-radius: 5px;
    width: 600px;
    height: 349px;
    margin-left: 420px;
    margin-top: 200px;
}

.login-header {
    height: 50px;
    width: 100%;
    color: #FFFFFF;
    background-color: #505050;
    text-indent : 10px;
    border-radius: 5px;
}

.login-body {
    border: ppx solid red;
    height: 200px;
    width: 480px;
    margin-left: 60px;
}