.dropdown-content {
  display: none;
  background-color: #505050;
  min-width: 300px;
  overflow: auto;
  box-shadow: 1px -1px 15px 5px #505050;
  z-index: 1;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown a:hover {
    background-color: #5f5f5f;
    text-align: left;
    font-weight:bold;
    border:0px solid #ffffff;
    border-radius: 5px;
}

.show {
    display: block;
}

.menu-separator {
    display: block;
    height: 0px;
    border: 0;
    border: 1px solid #FF0000;
    padding: 0;
}

.menu-icon {
    width: 30px;
    border: 1px solid white;
    border-radius: 5px;
    height: 25px;
}

.menu-text {
    margin-left: 10px;
    padding: 5px;
}