<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content-pane">
        <div class="top-space-100-pixel section">Employee Information</div>
        <div class="admin-info-pane">
            <table>
                <tr>
                    <td colspan="2" class="admin-info-header">Personal Information...</td>
                </tr>
                <tr>
                    <td colspan="2" class="admin-info-td"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">First Name</td><td class="admin-info-td" th:text="${employee.firstName}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Middle Initial</td><td class="admin-info-td" th:text="${employee.middleInitial}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Last Name</td><td class="admin-info-td" th:text="${employee.lastName}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Email Id</td><td class="admin-info-td" th:text="${employee.emailId}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Mobile Number</td><td class="admin-info-td" th:text="${employee.mobileNo}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Unique Id</td><td class="admin-info-td" th:text="${employee.uniqueId}"></td>
                </tr>
                <tr>
                    <td colspan="2" class="admin-info-td"></td>
                </tr>
                <tr>
                    <td colspan="2" class="admin-info-header">Address Information...</td>
                </tr>
                <tr>
                    <td colspan="2" class="admin-info-td"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Address Line 1</td><td class="admin-info-td" th:text="${employee.addressLine1}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Address Line 2</td><td class="admin-info-td" th:text="${employee.addressLine2}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Address Line 3</td><td class="admin-info-td" th:text="${employee.addressLine3}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">City</td><td class="admin-info-td" th:text="${employee.city}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">State</td><td class="admin-info-td" th:text="${employee.state}"></td>
                </tr>
                <tr>
                    <td class="admin-info-td">Zip Code</td><td class="admin-info-td" th:text="${employee.zipCode}"></td>
                </tr>
                <tr>
                    <td colspan="2" class="admin-info-td"></td>
                </tr>
                <tr>
                    <td colspan="2" class="admin-info-td">
                        <a class="admin-info-anchor" href="/employee/list">Admin Listing</a>
                        <a class="admin-info-anchor" href="#" onclick="javascript:alert('Are you sure want to block this admin?');">Block this Admin</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</html>