<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content-pane">
        <div class="top-space-100-pixel section">User Information</div>
        <div id="errorMessage" class="employee-info-error-message" th:text="${errorMessage}"></div>
        <div class="employee-info-left-pane">
            <div class="employee-info-photo-frame">
                <form method="POST" action="/user/profile/picture-upload" enctype="multipart/form-data">
                    <!--<img class="employee-info-photo" src="/images/no-profile-pic.png" id="employee-info-profile-picture"/>-->
                    <img class="employee-info-photo" th:src="${userForm.profilePic}" id="employee-info-profile-picture"/>
                    <br/><br/>
                    <input class="employee-info-profile-picture-browse" type="file" name="browseProfilePicture" id="employee-info-profile-picture-browse" accept="image/jpeg, image/png, image/jpg"/>
                    <input class="employee-info-profile-picture-submit" type="submit" name="saveProfilePicture" id="employee-info-profile-picture-submit" value="Upload Profile Pic"/>
                    <input type="hidden" name="userId" th:value="${userForm.userId}"/>
                </form>
                <br/><br/>
                <div th:if="${#session.getAttribute('LOGGED_IN_USER').userId.equals(userForm.userId)}">
                    <a href="/user/list">List Users</a>
                </div>
                <div th:unless="${#session.getAttribute('LOGGED_IN_USER').userId.equals(userForm.userId)}">
                    <a
                            th:href="${'VERIFIED'.equals(userForm.status) ? '/user/lock?uuid=' + userForm.userId : '/user/unlock?uuid=' + userForm.userId}"
                            onclick="javascript:alert('Are you sure want to block this user?');"
                            th:text="${'VERIFIED'.equals(userForm.status) ? 'Lock this User' : 'UnLock this User'}">Lock this User
                    </a>
                    <br/>
                    <a th:href="${'/user/delete?uuid=' + userForm.userId}" onclick="javascript:alert('Are you sure want to delete this user?');">Delete this User</a>
                </div>
            </div>
        </div>
        <div class="employee-info-right-pane">
            <table>
                <tr>
                    <td colspan="2" class="employee-info-header">Personal Information...</td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">First Name</td><td class="employee-info-td" th:text="${userForm.firstName}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Middle Initial</td><td class="employee-info-td" th:text="${userForm.middleInitial}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Last Name</td><td class="employee-info-td" th:text="${userForm.lastName}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Email Id</td><td class="employee-info-td" th:text="${userForm.emailId}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Mobile Number</td><td class="employee-info-td" th:text="${userForm.mobileNo}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Unique Id</td><td class="employee-info-td" th:text="${userForm.uniqueId}"></td>
                </tr>
                <tr>
                    <td colspan="2" class="employee-info-header">Address Information...</td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Address Line 1</td><td class="employee-info-td" th:text="${userForm.addressLine1}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Address Line 2</td><td class="employee-info-td" th:text="${userForm.addressLine2}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Address Line 3</td><td class="employee-info-td" th:text="${userForm.addressLine3}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">City</td><td class="employee-info-td" th:text="${userForm.city}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">State</td><td class="employee-info-td" th:text="${userForm.state}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Zip Code</td><td class="employee-info-td" th:text="${userForm.zipCode}"></td>
                </tr>
            </table>
        </div>
    </div>
</html>