<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content-pane">
        <div class="top-space-100-pixel section">Employee Information</div>
        <div id="errorMessage" class="employee-info-error-message" th:text="${errorMessage}"></div>
        <div class="employee-info-left-pane">
            <div class="employee-info-photo-frame">
                <form method="POST" action="/user/profile/picture-upload" enctype="multipart/form-data">
                    <!--<img class="employee-info-photo" src="/images/no-profile-pic.png" id="employee-info-profile-picture"/>-->
                    <img class="employee-info-photo" th:src="${employee.profilePic}" id="employee-info-profile-picture"/>
                    <br/><br/>
                    <input class="employee-info-profile-picture-browse" type="file" name="browseProfilePicture" id="employee-info-profile-picture-browse" accept="image/jpeg, image/png, image/jpg"/>
                    <input class="employee-info-profile-picture-submit" type="submit" name="saveProfilePicture" id="employee-info-profile-picture-submit" value="Upload Profile Pic"/>
                    <input type="hidden" name="userId" th:value="${employee.employeeId}"/>
                </form>
                <br/><br/>
                <div th:if="${#session.getAttribute('LOGGED_IN_USER').userId.equals(employee.employeeId)}">
                    <a href="/employee/list">List Employees</a>
                </div>
                <div th:unless="${#session.getAttribute('LOGGED_IN_USER').userId.equals(employee.employeeId)}">
                    <a
                            th:href="${'VERIFIED'.equals(employee.status) ? '/employee/lock?uuid=' + employee.employeeId : '/employee/unlock?uuid=' + employee.employeeId}"
                            onclick="javascript:alert('Are you sure want to block this employee?');"
                            th:text="${'VERIFIED'.equals(employee.status) ? 'Lock this Employee' : 'UnLock this Employee'}">Lock this Employee
                    </a>
                    <br/>
                    <a th:href="${'/employee/delete?uuid=' + employee.employeeId}" onclick="javascript:alert('Are you sure want to delete this employee?');">Delete this Employee</a>
                </div>
            </div>
        </div>
        <div class="employee-info-right-pane">
            <table>
                <tr>
                    <td colspan="2" class="employee-info-header">Personal Information...</td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">First Name</td><td class="employee-info-td" th:text="${employee.firstName}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Middle Initial</td><td class="employee-info-td" th:text="${employee.middleInitial}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Last Name</td><td class="employee-info-td" th:text="${employee.lastName}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Email Id</td><td class="employee-info-td" th:text="${employee.emailId}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Mobile Number</td><td class="employee-info-td" th:text="${employee.mobileNo}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Unique Id</td><td class="employee-info-td" th:text="${employee.uniqueId}"></td>
                </tr>
                <tr>
                    <td colspan="2" class="employee-info-header">Address Information...</td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Address Line 1</td><td class="employee-info-td" th:text="${employee.addressLine1}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Address Line 2</td><td class="employee-info-td" th:text="${employee.addressLine2}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Address Line 3</td><td class="employee-info-td" th:text="${employee.addressLine3}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">City</td><td class="employee-info-td" th:text="${employee.city}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">State</td><td class="employee-info-td" th:text="${employee.state}"></td>
                </tr>
                <tr>
                    <td class="employee-info-td bold">Zip Code</td><td class="employee-info-td" th:text="${employee.zipCode}"></td>
                </tr>
            </table>
        </div>
    </div>
</html>