<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="dropdown" th:fragment="menu">
        <div id="menu" class="dropdown-content">
            <a id="my-info" th:href="${'/user/info?uuid=' + #session.getAttribute('LOGGED_IN_USER').userId}" href="#"><image src="/images/my-info.png" class="menu-icon"/><span class="menu-text">My Info</span></a>
            <a id="userCreation" href="/user/home"><image src="/images/user-creation.png" class="menu-icon"/><span class="menu-text">User Creation</span></a>
            <a id="userListing" href="/user/list"><image src="/images/user-list.png" class="menu-icon"/><span class="menu-text">User Listing</span></a>
            <!--<hr class="menu-separator"></hr>-->
            <a id="changePassword" href="/change-password"><image src="/images/change-password.png" class="menu-icon"/><span class="menu-text">Change Password</span></a>
            <!--<hr class="menu-separator"></hr>-->
            <a id="userRole" href="/user/role/view"><image src="/images/user-role.png" class="menu-icon"/><span class="menu-text">User Role</span></a>
            <!--<hr class="menu-separator"></hr>-->
            <a id="settings" href="/user/settings"><image src="/images/settings.png" class="menu-icon"/><span class="menu-text">Settings</span></a>
            <!--<hr class="menu-separator"></hr>-->
            <a id="logout" href="/logout"><image src="/images/logout.png" class="menu-icon"/><span class="menu-text">Logout</span></a>
        </div>
    </div>
</html>