<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content-pane">
        <div class="top-space-100-pixel section">Admin Listing</div>
        <div class="admin-listing-pane">
            <table>
                <tr th:each="admin: ${admins}">
                    <td class="admin-listing-name-td" th:text="${admin.firstName + ' ' + admin.middleInitial + ' ' +admin.lastName}"></td>
                    <td class="admin-listing-anchor-td"><a href="#" th:href="${'/admin/info?uuid=' + admin.adminId}">Info</a></td>
                    <td class="admin-listing-anchor-td"><a href="#" th:href="${'/admin/block?uuid=' + admin.adminId}">Block</a></td>
                    <td class="admin-listing-anchor-td"><a href="#" th:href="${'/admin/delete?uuid=' + admin.adminId}">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</html>