<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shoppe : Change Password</title>
    <link rel="stylesheet" th:href="@{/css/base/main.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="banner">
        <div>
            <image class="banner-logo" src="/images/logo.png"/>
        </div>
        <div>
            <div>
                <div class="app-launcher">
                    <img src="/images/app-launcher.png"/>
                </div>
            </div>
        </div>
    </div>
    <div class="content-pane">
        <div class="top-space change-password-pane">
            <div class="change-password-header">
                <div>Change Password...</div>
            </div>
            <div class="change-password-body">
                <form method="POST" action="/change-my-password">
                    <table style="align:center">
                        <tr>
                            <td class="td-height-60 error-message-box" colspan="2" id="errorMessage" th:text="${errorMessage}"></td>
                        </tr>
                        <tr>
                            <td class="td-height-60">
                                <input id="oldPassword" class="input-box-normal" type="password" name="oldPassword" placeholder="Old Password" th:value="${changePassword != null} ? ${changePassword.oldPassword} : ''"/>
                                <span class="required-field">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-height-60">
                                <input id="newPassword" class="input-box-normal" type="password" name="newPassword" placeholder="New Password" th:value="${changePassword != null} ? ${changePassword.newPassword} : ''"/>
                                <span class="required-field">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-height-60">
                                <input id="confirmPassword" class="input-box-normal" type="password" name="confirmPassword" placeholder="Confirm New Password" th:value="${changePassword != null} ? ${changePassword.confirmPassword} : ''"/>
                                <span class="required-field">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input class="button-normal" id="change-my-password" type="submit" value="Change my Password"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        Copyright &copy; 2021 MNR Chinnasamy Softlab.
    </div>
</div>
</body>
</html>