<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:include="fragments/employee/info/page-title-fragment :: page-title"></title>
        <link rel="stylesheet" th:href="@{/css/base/main.css}"/>
        <script type="text/javascript" src="/js/menu.js"></script>
        <script type="text/javascript" src="/js/jquery-3.6.0-min.js"></script>
        <script type="text/javascript" src="/js/application.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="banner" th:include="fragments/banner-fragment :: banner"></div>
            <div class="content-pane" th:include="fragments/employee/info/content-pane-fragment :: content-pane"></div>
            <div class="footer" th:include="fragments/footer-fragment :: footer"></div>
        </div>
    </body>
</html>