<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Shoppe : Login</title>
    <link rel="stylesheet" th:href="@{/css/base/main.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="banner">
        Shoppe : Admin Login
    </div>
    <div class="content-pane">
        <div class="top-space login-pane">
            <div class="login-header">
                Login...
            </div>
            <div class="login-body">
                <table style="align:center">
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="td-height-60">
                            <input id="username" class="input-box-normal" type="text" name="username" placeholder="Username / Email Id"/>
                            <span class="required-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-height-60">
                            <input id="password" class="input-box-normal" type="password" name="password" placeholder="Password"/>
                            <span class="required-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input class="button-normal" type="reset" value="Cancel"/>
                            <input class="button-normal" id="login" type="submit" value="Login"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="td-height-60 center-text"><a href="/forgot-password">Forgot Password</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
        Copyright &copy; 2021 MNR Chinnasamy Softlabs.
    </div>
</div>
</body>
</html>