<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shoppe : Sign Up</title>
    </head>
    <body>
        <form method="POST" action="/signup-user">
            <table>
                <tr>
                    <td>First Name</td><td><input type="text" name="firstName"/></td>
                </tr>
                <tr>
                    <td>Middle Initial</td><td><input type="text" name="middleInitial"/></td>
                </tr>
                <tr>
                    <td>Last Name</td><td><input type="text" name="lastName"/></td>
                </tr>
                <tr>
                    <td>Email Id</td><td><input type="text" name="emailId"/></td>
                </tr>
                <tr>
                    <td>Unique Id</td><td><input type="text" name="uniqueId"/></td>
                </tr>
                <tr>
                    <td>Mobile Number</td><td><input type="text" name="mobileNo"/></td>
                </tr>
                <tr>
                    <td>Password</td><td><input type="password" name="password"/></td>
                </tr>
                <tr>
                    <td>Confirm Password</td><td><input type="password" name="confirmPassword"/></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td><input type="reset" value="Cancel"/></td><td><input type="submit" value="Register"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>