<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content-pane">
        <div class="forgot-password-message-pane">
            <div class="forgot-password-message">
                <br/><br/>
                A mail has been sent to your mail id that you have submitted, please check it out to login into the system.
                <br/><br/>
                Please do reset the password of your account at your earliest.
                <br/><br/>
                Regards,
                <br/>
                The MNR-Chinnasamy Team.
            </div>
        </div>
    </div>
</html>