<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content-pane">
        <div class="top-space-100-pixel section">Employee Listing</div>
        <div class="employee-listing-pane">
            <!--<table>
                <tr th:each="employee: ${employees}">
                    <td class="employee-listing-name-td" th:text="${employee.firstName + ' ' + employee.middleInitial + ' ' +employee.lastName}"></td>
                    <td class="employee-listing-anchor-td"><a href="#" th:href="${'/employee/info?uuid=' + employee.employeeId}">Info</a></td>
                    <td class="employee-listing-anchor-td">
                        <a th:href="${ 'BLOCKED'.equals(employee.status) ? '/employee/unblock?uuid=' + employee.employeeId  : '/employee/block?uuid=' + employee.employeeId}" th:text="${ 'BLOCKED'.equals(employee.status) ? 'UnBlock'  : 'Block'}">Block</a>
                    </td>
                    <td class="employee-listing-anchor-td"><a href="#" th:href="${'/employee/delete?uuid=' + employee.employeeId}">Delete</a></td>
                </tr>
            </table>-->
            <div class="employee-listing-preview-div">
                <div class="employee-listing-preview-image-div">
                    <image src="/images/no-profile-pic.png" class="employee-listing-preview-image"/>
                </div>
                <div class="employee-listing-preview-name-div">Ravaneswaran Chinnsamy</div>
                <div class="employee-listing-preview-controls-div">
                    <a href="/employee/info">
                        <img src=""/>
                    </a>
                    <a href="/employee/info">
                        <img src=""/>
                    </a>
                    <a href="/employee/info">
                        <img src=""/>
                    </a>
                </div>
            </div>
            <div class="employee-listing-preview-div">
                <div class="employee-listing-preview-image-div">
                    <image src="/images/no-profile-pic.png" class="employee-listing-preview-image"/>
                </div>
                <div class="employee-listing-preview-name-div">Ravaneswaran Chinnasamy</div>
                <div class="employee-listing-preview-controls-div">

                </div>
            </div>
            <div class="employee-listing-preview-div">
                <div class="employee-listing-preview-image-div">
                    <image src="/images/no-profile-pic.png" class="employee-listing-preview-image"/>
                </div>
                <div class="employee-listing-preview-name-div">Ravaneswaran Chinnasamy</div>
                <div class="employee-listing-preview-controls-div">

                </div>
            </div>
            <div class="employee-listing-preview-div">
                <div class="employee-listing-preview-image-div">
                    <image src="/images/no-profile-pic.png" class="employee-listing-preview-image"/>
                </div>
                <div class="employee-listing-preview-name-div">Ravaneswaran Chinnasamy</div>
                <div class="employee-listing-preview-controls-div">

                </div>
            </div>
            <div class="employee-listing-preview-div">
                <div class="employee-listing-preview-image-div">
                    <image src="/images/no-profile-pic.png" class="employee-listing-preview-image"/>
                </div>
                <div class="employee-listing-preview-name-div">Ravaneswaran Chinnasamy</div>
                <div class="employee-listing-preview-controls-div"></div>
            </div>
        </div>
    </div>
</html>